<header class="menu">
	    <ul class="menu-bar">
	        <li><a href="/Concurso2/Conserje-app/#/home"><i class="icon-news"></i></a></li>
	        <li><a href="/Concurso2/Conserje-app/#/myreservation"><span class="icon-checkmark2"></span></a></li>
	        <li><a href="/"><span class="icon-alarm"></span></a></li>
	    </ul>
	    <input type="checkbox" id="check-nav">
	     <label class="menu-icono" for="check-nav">
            <span class="icon-more_vert"></span>
        </label>
	    <nav class="opciones">
	        <ul>
	            <li><a href="/Concurso2/Conserje-app/#/reservation">Reservar</a></li>
	            <li><a href="/">Perfil</a></li>
	            <li><a ng-click="logout();">Salir</a></li>
	        </ul>
	    </nav>
</header>
<div id="active-resevation" class="reservation">
	<ul >
		<div>
			<h3>{{activeReservation.name}}</h3>
			<div>
				<div>
					<h4>Hora:</h4> <p>{{activeReservation.timeI}} - {{activeReservation.timeF}}</p>
				</div>

				<div>
					<h4>Fecha:</h4> <p>{{activeReservation.day}}</p>
				</div>

				<div>
					<h4>Lugar:</h4> <p>{{activeReservation.place}}</p>
				</div>
			</div>
			<button type="reset">Cancelar</button>
		</div>
	</ul>
</div>